:root {
    --text-highlight: #CE8200;
    --test-notHighlight: #005200;
    --bacground-login: #1C521C;
    --background: #c0c0c0;
    --text-dark: #000000;
    --text-light: #FFFFFF;
    --text-normal-highlight: #176478;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100vh;

    font-family: "Inter", sans-serif;
    color: var(--text-light);

    background-image: url("/IMG/forms/login/Sign_In_Up_BG.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    background-color: var(--background-login);
}

/* Buttons */

.btn {
    padding: 20px 15px;
    border-radius: 20px;
    color:var(--text-light);
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.btn.outline {
    background-color: transparent;
    border: 2px solid var(--text-light);
    color: var(--text-light);
}

.btn.dark {
    background-color: var(--test-notHighlight);
    font-size: 25px;
    border-radius: 36.5px;
    padding: 20px 120px;
}

/* Grids */

.grid-container {
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 75px 1fr 1fr;

    grid-template-areas:
        "box-1 box-1"
        "box-2 box-4"
        "box-3 box-4";

    width: 100%;
    min-height: 100vh;

    gap: 1em;
}

.item {
    background: transparent; 
    color: var(--text-light);
    padding: 0;

    /* FOR GUIDE */
    outline: 2px solid red;
}

.box-1 {
    grid-area: box-1;
    display: flex;
    justify-content: space-between;
}

.box-2 {
    grid-area: box-2;
    font-size: 75px;
    font-weight: bold;
}

.box-3 {
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--text-dark);

    background-image: url("/IMG/forms/login/sign-box-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.logo {
    font-weight: 900;
    font-size: 23px;
    color: var(--text-light);
    position: relative;
    padding-left: 60px;
}

.logo-icon::before {
    content: url("/IMG/forms/login/LOGO.png");
    position: absolute;
    left: -10px;
}
.btn.invis {
    background-color: transparent;
    border: none;
    position: relative;
}

.btn.back-icon::before {
    content: url("/IMG/forms/login/arrow-left-line\ 1.svg");
    position: absolute;
    right: 70px;
}

.btn.back-icon {
    padding-left: 60px;
}